*{
  box-sizing: border-box;
}

.App{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  background:#f0f2fa;
}

.to-do{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-size:xx-large;
  font-weight:bolder;
  margin-bottom: 10px;
  color: black;
}

/* =====Input===== */
.input{
  min-height: 40px;
  background: transparent;
  border: none;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.5);
  border-radius: 8px 0px 0px 8px;
}

.input-button{
  color: white;
  min-height: 40px;
  background: #6b86f5;
  border: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  border-radius: 0px 8px 8px 0px;
  transition: .3s ease;
}


.input-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

/*=====Task Cards=====*/
.cards-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  min-width: 80vw;
}

.task-card{
  color: rgb(51, 51, 51);
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  min-width: 75vw;
  max-width: 75vw;
  border: none;
  background-color: #a8b7f38f;
  border-radius: 10px 10px 10px 0px;
  box-shadow: -3px 3px 5px 2px rgba(0,0,0,0.2);
  transition: .4s ease;
}

.text{
  padding-left: 10px;
  width: 68%;
}

.aside{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-right: 10px;
}

.card-btn:hover{
  cursor: pointer;
}

.check-btn{
  background: transparent;
  border: none;
  color: rgb(19, 110, 19);
  transition: .4s ease;
}

.delete-btn{
  background: transparent;
  border: none;
  color: rgb(224, 39, 39);
  transition: .4s ease;
}

.check-btn:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.delete-btn:hover{
  cursor: pointer;
  transform: scale(1.2);
}

/* ====BreakPoints==== */
 @media screen and (min-width: 576px){
  .task-card{
    min-width: 600px;
    max-width: 600px;
  }
 }